 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* * {
  box-sizing: border-box;
} */

/* body {
    background-color:lightblue;
  font-family: 'Roboto', sans-serif;
   display: flex;
  flex-direction: column; */
  /* justify-content: left;
  min-height: 400vh;
  margin: 20px;
  margin-left: 50vh;
  margin-right: 30vh; */
/* } */
/* 
.title {
  margin: 10px 0 0;
  text-align: start;
}
.container {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  
}

.container img {
  object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
}
.container2{
    object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
}
.container3{
    object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
}
.container4{
    object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
}
.container1{
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100;
}  */


body{
  margin: 0;
}
.nav {
  position: sticky;
  background-color: steelblue;
  /* background-color: #222; */
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
} 
.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.nav a {
  color: red;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.img-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px 2px gray;
}
.footer{
  background-image: url(../image/emai.jfif);
  color: aqua;
  background-color: brown;
}