@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body {
  background-color: lightskyblue;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
}


.feedback {
  /* background-image: url(../image/man\ with\ shame.jfif); background-repeat: no-repeat; background-size: cover;
  color: #fff; */
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 30px;
  margin: auto; 
}

.question {
  align-self: center;
  text-decoration: tomato;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}