.container{
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
  font-size: large;
  font-weight: 100;
  font-family: "muli" sans-serif;
  flex-direction: row;
  text-align: center;
  display: flex;
  justify-self: center;
  justify-content: center;
  width: min-content;
}
* {
  box-sizing: border-box;
}
.item{
color: black;
float: inline-start;
}
body {
  background-color: steelblue;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding-left: 177px;
  padding-right: 428px; */
  /* margin-top: 100px;
  margin-bottom: 200px;
  padding-top: 150px;
  padding-bottom: 100px; */
  font-weight: bolder;
  height: 100vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
  
}

.text {
  margin-top: 10px;
}

.form-control {
  /* position: relative; */
  /* margin: 20px 0 40px; */
  width: 100%;

}
.form-container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
  align-items: flex-start;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
  
}      
.text2{
color:plum;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}
